html{
    background-color: #222327;
    font-family: 'Tajawal', sans-serif;


}
body{

    background-color: #222327;
    font-family: 'Tajawal', sans-serif;
    
   
   /* overflow: hidden; */
}
h1,h3,ul,h2{
/*   font-family: "Lalezar", system-ui; */
}
h3{
    display: none;
}
.section{
    /* display: none; */
}
.vid{
    display: none;
}
.sPage,.btnSpage{
    display: none;
    

}   
